@using System.IO
@model IEnumerable<Note>

@{
    ViewBag.Title = "View your notes";
}

@section Links{
    <link href="~/css/viewnotes.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

@section SectionNav{
    <p> <a asp-action="AddNote" asp-controller="home"> add note </a> </p>
    <p> add event </p>
    <p> upcoming events </p>
}

<div class="box">
        @foreach (Note note in Model)
    {
        var notePath = "wwwroot/Notes/local/" + note.DescriptionFileName;

        <div class="note-card" id="@note.Id" onclick="displayNotePreview('@note.Id')">

            <div class="note-title">
                @{
                    if (note.DisplayTitle != null)
                                                                                            @note.DisplayTitle
                    else
                                                                                            @note.Title
                }
            </div>

            <div class="note-description-short">
                @{
                    // maybe try to wrap it up into a method
                    char[] noteBuffer = new char[200];
                    using (StreamReader reader = new StreamReader(File.OpenRead(notePath)))
                    {
                        reader.ReadBlock(noteBuffer, 0, 200);
                    }
                    string noteDescPreview = new string(noteBuffer);
                    noteDescPreview = noteDescPreview.Replace("\0", string.Empty);
                    noteDescPreview = noteDescPreview.Replace("\r\n", ", ");
                                                                                        @noteDescPreview
                }...
            </div>

            <div class="note-date">
                @note.DateCreated
            </div>
        </div>
    }

    <script type="text/javascript">
        function displayNotePreview(noteId) {
            $('.actions-wrapper').css({"display": "inline"});
            $.ajax({
                url: '/Home/DisplayNotePreviewBasedOnId',
                data: { clickedNoteId: noteId },
                success: function(result) {
                    var id = "PreviewOfNote" + noteId;
                    var noteCard = new $('<div></div>').attr('id', id).addClass('note-preview');
                    noteCard.unbind().click(function(event) {
                        event.stopPropagation();
                    });
                    $('.preview-layer').unbind().click(function() {
                        noteCard.remove();
                        $('.actions-wrapper').css({"display": "none"});
                    });
                    $('.preview-layer').append(noteCard);
                    noteCard.siblings('.note-preview').remove();
                    $('#'+id).html(result);
                }
            });

            $('.edit-button').unbind().click(function() {
                $.ajax({
                    type: 'GET',
                    url: '/Home/EditNote',
                    data: { id: noteId },
                    success: function(result) {
                        location.href = "/Home/EditNote/" + noteId;
                    }
                });
            });

            $('.delete-button').unbind().click(function() {
                $.ajax({
                    type: 'POST',
                    url: '/Home/DeleteNote',
                    data: { id: noteId }
                });
            });
        }
    </script>


    <div class="preview-layer">
        <div class="actions-wrapper">
            <a class="edit-button">
                <span class="material-symbols-outlined"> edit </span>
                <span class="button-text"> Edit </span>
            </a>
            <a class="delete-button" asp-action="viewNotes" asp-controller="home">
                <span class="material-symbols-outlined"> delete </span>
                <span class="button-text"> Delete </span>
            </a>
        </div>
    </div>
</div>

