@using System.IO
@model IEnumerable<Note>

@{
    ViewBag.Title = "View your notes";
}

@section Links{
    <link href="~/css/viewnotes.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

@section SectionNav{
    <p> <a asp-action="AddNote" asp-controller="home"> add note </a> </p>
    <p> add event </p>
    <p> upcoming events </p>
}

<div class="box">
        @foreach (Note note in Model)
    {
        var notePath = "wwwroot/Notes/local/" + note.DescriptionFileName;

        <div class="note-card" id="@note.Id" onclick="displayNotePreview('@note.Id')">

            <div class="note-title">
                @{
                    if (note.DisplayTitle != null)
                        @note.DisplayTitle
                    else
                        @note.Title
                }
            </div>

            <div class="note-description-short">
                @{
                    // maybe try to wrap it up into a method
                    char[] noteBuffer = new char[200];
                    using (StreamReader reader = new StreamReader(File.OpenRead(notePath)))
                    {
                        reader.ReadBlock(noteBuffer, 0, 200);
                    }
                    string noteDescPreview = new string(noteBuffer);
                    noteDescPreview = noteDescPreview.Replace("\0", string.Empty);
                    noteDescPreview = noteDescPreview.Replace("\r\n", ", ");
                    @noteDescPreview
                    ;
                }...
            </div>

            <div class="note-date">
                @note.DateCreated
            </div>
        </div>
    }

    <script>
        function displayNotePreview(noteId) {
            $.ajax({
                url: '/Home/DisplayNotePreviewBasedOnId',
                data: { clickedNoteId: noteId },
                success: function(result) {
                    $('.preview-layer').html(result);
                }
            });
        }
    </script>


    <div class="preview-layer"></div>
</div>

